@import 'tailwindcss';

@theme {
  --color-primary: #8a2be2;
  --color-secondary: #6c3a13;
  --color-fuente: #3c3c3c;
  --color-focus: #455442;
  --color-background: #ffffff;
  --font-logo: 'Luckiest Guy', system-ui;
  --font-body: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-fuente);
  background-color: var(--color-background);
}
